%script{:type => "text/x-handlebars", "data-template-name" => "todo-list"}
  %ul#todo-list
    = hb 'each' do
      %li
        = hb 'title'
        %a{:_action => 'removeTodo'}
          delete
  {{outlet}}

%script{"data-template-name" => "todos", :type => "text/x-handlebars"}
  {{todo-input id="new-todo" type="text" value=newTitle action="createTodo" placeholder="What needs to be done?"}}
  {{outlet}}
